// COLORS
$grey-text: #46484d;
$black-text: #333339;
$blue-active-title: #5fb0e8;

// BORDER RADIUS
$border-radius--4px: 4px;
$border-radius--8px: 8px;
$border-radius--12px: 12px;

// BOX SHADOW
$box-shadow--1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; ;
